{% extends 'base.html.twig' %}

{% block title %}Person{% endblock %}

{% block body %}
    <h1>Person</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ person.name }}</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>{% for sex in person.sexes %}
                    {{ sex.name }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ person.age }}</td>
            </tr>
            
            <tr>
                <th>Mother</th>
                <td>{% for mother in person.mothers %}
                    {{ mother.name }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Father</th>
                <td>{{ person.fathers }}</td>
            </tr>
            <tr>
                <th>Children</th>
                <td></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('person_index') }}">back to list</a>

    <a href="{{ path('person_edit', {'id': person.id}) }}">edit</a>

    {{ include('person/_delete_form.html.twig') }}
{% endblock %}
